<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silentcorp.autotracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".AutotrackerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <provider
            android:name=".db.DBContentProvider"
            android:authorities="com.silentcorp.autotracker.db.DBContentProvider"
            android:exported="false"
            android:readPermission="true"
            android:writePermission="true" >
        </provider>

        <activity
            android:name="com.silentcorp.autotracker.activities.StartScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.silentcorp.autotracker.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.silentcorp.autotracker.activities.StartScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.silentcorp.autotracker.StartScreenActivity" />
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.FuelEventActivity" >
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.MaintenanceEventActivity" >
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.RepairEventActivity" >
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.PaymentEventActivity" >
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.VehicleActivity" >
        </activity>
        <activity android:name="com.silentcorp.autotracker.activities.NotificationActivity" >
        </activity>
        <activity
            android:name="com.silentcorp.autotracker.activities.ListVehiclesActivity"
            android:label="@string/text_vehicles" >
        </activity>
        <activity
            android:name="com.silentcorp.autotracker.activities.ListEventsActivity"
            android:label="@string/text_events" >
        </activity>
        <activity
            android:name="com.silentcorp.autotracker.activities.ListNotificationsActivity"
            android:label="@string/text_notifications" >
        </activity>
    </application>

</manifest>